.icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    display: inline;
}

.member_row {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.table {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}