.footers {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(52,58,64);
}

.groupName {
    text-align: center;
    margin-bottom: 0px;
    color: gray;
}

.uscLogo {
    background-color: white;
    margin-bottom: 10px;
}